/*SHELL*/
@media screen {
    html {
        height: 100%;
        width: 100%;
    }

    body {
        display: flex;
        display: webkit-flex;
        font-family: Arial;
        height: 100%;
        margin: 0;
        width: 100%;
    }

    body > header, body > footer {
        display: flex;
        display: webkit-flex;
    }

    body > header > section, body > footer > section {
        width: 100%;
    }

    blocks {
        width: 100%;
    }

    blocks, block, box, card {
        display: flex;
        display: webkit-flex;
        flex-direction: column;
        position: relative;
    }

    block > section, card > section, box > section {
        width: 100%;
    }

    block > picture {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    flex, column, row {
        display: flex;
        display: webkit-flex;
    }

    column {
        flex-direction: column;
    }

    row {
        flex-direction: row;
    }

    form {
        margin: 0;
    }

    form > * {
        width: 100%;
    }

    main {
        display: flex;
        display: webkit-flex;
        /* height: 100%; */
        overflow: visible;
        position: relative;
    }

    ico {
        align-items: center;
        display: flex;
        display: webkit-flex;
        justify-content: center;
    }

    ico:not([data-height]) {
        height: 45px;
    }

    ico:not([data-width]) {
        width: 45px;
    }

    iframe {
        border: 0;
    }

    input {
        -webkit-appearance: none;
    }

    input:focus {
        outline: none;
    }

    [type="text"], [type="password"] {
        background: none;
        border: unset;
        padding: 0;
    }

    input[type="file"], input[type="submit"] {
        display: none;
    }

    menu {
        margin: 0;
        padding: 0;
    }

    page, pages {
        display: flex;
        position: relative;
    }

    body > page, body > pages {
        z-index: 123456789;
    }

    [placeholder]:not(input):empty:before {
        content: attr(placeholder);
    }

    [data-hide]:not([data-active="true"]), [data-page]:not([data-active="true"]):not(.-active), [data-pages]:not([data-active="true"]):not(.-active) {
        display: none;
    }
}

/*BACKGROUND COLOR*/
@media screen {
    .background-color-333 {
        background-color: #333;
    }
    
    .background-color-f0 {
        background-color: #f0f0f0;
    }

    .background-color-f2 {
        background-color: #f2f2f2;
    }

    .background-color-ccc {
        background-color: #ccc;
    }

    .background-color-fff {
        background-color: #fff;
    }
}

/*BORDER*/
@media screen {
    .border-1px-solid {
        border: 1px solid;
    }

    .border-bottom-2px-solid {
        border-bottom: 2px solid;
    }

    .border-unset {
        border: unset;
    }
}

/*BORDER COLOR*/
@media screen {
    .border-color-ccc {
        border-color: #ccc;
    }

    .border-color-f0 {
        border-color: #f0f0f0;
    }
}

/*BORDER RADIUS*/
@media screen {
    .border-radius-5px {
        border-radius: 5px;
    }
}

/*BOX-SIZING*/
@media screen {
    .box-sizing-border-box {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

/*COLOR*/
@media screen {
    .color-000 {
        color: #000;
    }

    .color-fff {
        color: #fff;
    }
}

/*DISPLAY*/
@media {
    .display-none {
        display: none;
    }    
        
    .-hover-display-flex:hover, .-hover.-hover-display-flex {
        display: flex;
    }
    
    .-tap .-after--hover--tap-display-flex:hover + *, .-tap.-after--hover--tap-display-flex:hover + * {
        display: flex;
    }
    
    .-tap .-tap-display-flex, .-tap.-tap-display-flex {
        display: flex;
    }
    
    .-tap .-tilde--hover--tap-display-flex:hover ~ *, .-tap.-tilde--hover--tap-display-flex:hover ~ * {
        display: flex;
    }
}

/*FLEX*/
@media screen {
    .flex-1 {
        flex: 1;
    }

    .align-items-center {
        align-items: center;
    }

    .flex-end, .justify-content-flex-end {
        justify-content: flex-end;
    }

    .flex-direction-column {
        flex-direction: column;
    }

    .flex-direction-row {
        flex-direction: row;
    }

    .justify-content-center {
        justify-content: center;
    }

    .justify-content-space-between {
        justify-content: space-between;
    }

    .flex-wrap-wrap {
        flex-wrap: wrap;
    }
}

/*FONT SIZE*/
@media screen {
    .font-size-9px {
        font-size: 9px;
    }

    .font-size-12px {
        font-size: 12px;
    }

    .font-size-13px {
        font-size: 13px;
    }

    .font-size-17px {
        font-size: 17px;
    }

    .font-size-18px {
        font-size: 18px;
    }

    .font-size-19px {
        font-size: 19px;
    }

    .font-size-21px {
        font-size: 21px;
    }

    .font-size-24px {
        font-size: 24px;
    }

    .font-size-48px {
        font-size: 48px;
    }

    .font-size-72px {
        font-size: 72px;
    }
}

/*HEIGHT*/
@media screen {
    .height-16px, [data-height="16px"] {
        height: 16px;
    }

    .height-22px, [data-height="22px"] {
        height: 22px;
    }

    .height-100pct, [data-height="100%"] {
        height: 100%;
    }
}

/*LINE HEIGHT*/
@media screen {
    .line-height-18px {
        line-height: 18px;
    }

    .line-height-24px, [data-line-height="24px"] {
        line-height: 24px;
    }

    .line-height-30px {
        line-height: 30px;
    }
}

/*MARGIN*/
@media screen {
    .margin-auto {
        margin: auto;
    }

    .margin-left-30px {
        margin-left: 30px;
    }

    .margin-top-18px {
        margin-top: 18px;
    }

    .margin-top-20px {
        margin-top: 20px;
    }
}

/*MAX-HEIGHT*/
@media screen {
    [data-max-height="100%"] {
        max-height: 100%;
    }
}

/*OUTLINE*/
@media screen {
    .-focus-outline-unset:focus {
        outline: unset;
    }
}

/*PADDING*/
@media screen {
    .padding-x-5px {
        padding: 0 5px;
    }

    .padding-x-10px {
        padding: 0 10px;
    }
}

/*POSITION*/
@media screen {
    .position-absolute {
        position: absolute;
    }

    .position-fixed {
        position: fixed;
    }

    .position-relative {
        position: relative;
    }

    .bottom-0 {
        bottom: 0;
    }

    .bottom-50px {
        bottom: 50px;
    }

    .left-0 {
        left: 0;
    }

    .right-0 {
        right: 0;
    }

    .right-45px {
        right: 45px;
    }

    .top-0 {
        top: 0;
    }

    .top-minus-45px {
        top: -45px;
    }
}

/*PADDING*/
@media screen {
    .text-align-center {
        text-align: center;
    }
}

/*RESIZE*/
@media screen {
    .resize-none {
        resize: none;
    }
}

/*SCROLL*/
@media screen {
    .scroll-y {
        overflow-x: hidden;
    }
}

/*WIDTH*/
@media screen {
    .width-227px, [data-width="227px"] {
        width: 227px;
    }

    .width-100pct, [data-width="100%"] {
        width: 100%;
    }

    @media (max-width: 480px) {
        .-mobile-width-320px {
            width: 320px;
        }

        .-mobile-width-100pct {
            width: 100%;
        }
    }
}

/*Z-INDEX*/
@media screen {
    .z-index-0, [data-z-index="0"] {
        z-index: 0;
    }

    .z-index-1, [data-z-index="1"] {
        z-index: 1;
    }

    .z-index-2, [data-z-index="2"] {
        z-index: 12;
    }

    .z-index-3, [data-z-index="3"] {
        z-index: 123;
    }

    .z-index-4, [data-z-index="4"] {
        z-index: 1234;
    }

    .z-index-5, [data-z-index="5"] {
        z-index: 12345;
    }

    .z-index-6, [data-z-index="6"] {
        z-index: 123456;
    }

    .z-index-7, [data-z-index="7"] {
        z-index: 1234567;
    }

    .z-index-8, [data-z-index="8"] {
        z-index: 12345678;
    }

    .z-index-9, [data-z-index="9"] {
        z-index: 123456789;
    }

    .z-index-10, [data-z-index="10"] {
        z-index: 1234567890;
    }
}

/*COLUMNS*/
@media screen {
    [data-columns] {
        display: grid;
    }

    [data-columns="1"] {
        grid-template-columns: auto;
    }

    [data-columns="2"] {
        grid-template-columns: auto auto;
    }

    [data-columns="5"] {
        grid-template-columns: auto auto auto auto auto;
    }

    .grid-gap-10px, [data-grid-gap="10px"] {
        grid-gap: 10px;
    }

    .grid-gap-30px, [data-grid-gap="30px"] {
        grid-gap: 30px;
    }
}

/*IMPORTANT*/
@media screen {
    .display-none {
        display: none;
    }

    @media (max-width: 480px) {
        .-mobile-display-none {
            display: none;
        }
    }

    body[data-uid] .noauth, body:not([data-uid]) .isauth {
        display: none;
    }
}

/*THEME*/
@media (prefers-color-scheme: dark) {
    body[data-theme="dark"] {
        color: white;
        background: #1d1e22;
    }

    body[data-theme="dark"] input {
        color: white;
    }

    body[data-theme="dark"] .-dark-background-color-000 {
        background: #000000;
    }

    body[data-theme="dark"] .-dark-background-color-06 {
        background-color: #060606;
    }

    body[data-theme="dark"] .-dark-background-color-333 {
        background-color: #333333;
    }

    body[data-theme="dark"] .-dark-background-color-666 {
        background-color: #666;
    }
}
