.-ggs-2 {
    --ggs: 2;
}

@media screen {
    .gg-add-r {
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 22px;
        height: 22px;
        border: 2px solid;
        transform: scale(var(--ggs,1));
        border-radius: 4px
    }

    .gg-add-r::after, .gg-add-r::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 10px;
        height: 2px;
        background: currentColor;
        border-radius: 5px;
        top: 8px;
        left: 4px
    }

    .gg-add-r::after {
        width: 2px;
        height: 10px;
        top: 4px;
        left: 8px
    }
}

@media screen {
    .gg-check-o {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 22px;
        height: 22px;
        border: 2px solid;
        border-radius: 100px
    }

    .gg-check-o::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: 3px;
        top: -1px;
        width: 6px;
        height: 10px;
        border-color: currentColor;
        border-width: 0 2px 2px 0;
        border-style: solid;
        transform-origin: bottom left;
        transform: rotate(45deg)
    }
}

@media screen {
    .gg-chevron-down {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 22px;
        height: 22px;
        border: 2px solid transparent;
        border-radius: 100px
    }

    .gg-chevron-down::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        transform: rotate(45deg);
        left: 4px;
        top: 2px
    }
}

@media screen {
    .gg-folder {
        transform: scale(var(--ggs,1))
    }

    .gg-folder, .gg-folder::after {
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 22px;
        height: 16px;
        border: 2px solid;
        border-radius: 3px
    }

    .gg-folder::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 4px;
        border-bottom: 0;
        border-top-left-radius: 2px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        top: -5px
    }
}

@media screen {
    .gg-format-text {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 10px;
        height: 8px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        box-shadow: 0 -2px 0 0, inset 0 0 0 2px
    }

    .gg-format-text::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 18px;
        height: 18px;
        border: 1px dashed;
        top: -6px;
        left: -8px
    }
}

@media screen {
    .gg-google, .gg-google::before {
        box-sizing: border-box;
        display: block
    }

    .gg-google {
        position: relative;
        transform: scale(var(--ggs,1));
        width: 20px;
        height: 20px;
        border: 4px solid;
        border-right-color: transparent;
        border-radius: 22px
    }

    .gg-google::before {
        content: "";
        position: absolute;
        border-top: 4px solid;
        border-right: 4px solid;
        border-bottom: 4px solid;
        border-radius: 0 0 10px 0;
        width: 10px;
        height: 12px;
        right: -4px;
        bottom: -4px
    }
}

@media screen {
    .gg-notes {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 20px;
        height: 22px;
        border: 2px solid;
        border-radius: 3px
    }

    .gg-notes::after, .gg-notes::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border-radius: 3px;
        height: 2px;
        background: currentColor;
        left: 2px
    }

    .gg-notes::before {
        box-shadow: 0 4px 0, 0 8px 0;
        width: 12px;
        top: 2px
    }

    .gg-notes::after {
        width: 6px;
        top: 14px
    }
}

@media screen {
    .gg-options {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 10px;
        height: 2px;
        box-shadow: -3px 4px 0 0, 3px -4px 0 0
    }

    .gg-options::after, .gg-options::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 8px;
        height: 8px;
        border: 2px solid;
        border-radius: 100%
    }

    .gg-options::before {
        top: -7px;
        left: -4px
    }

    .gg-options::after {
        bottom: -7px;
        right: -4px
    }
}

@media screen {
    .gg-math-plus, .gg-math-plus::after {
        display: block;
        box-sizing: border-box;
        background: currentColor;
        border-radius: 10px
    }

    .gg-math-plus {
        margin-top: -2px;
        position: relative;
        transform: scale(var(--ggs,1));
        width: 16px;
        height: 2px
    }

    .gg-math-plus::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 16px;
        top: -7px;
        left: 7px
    }
}

@media screen {
    .gg-search {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 16px;
        height: 16px;
        border: 2px solid;
        border-radius: 100%;
        margin-left: -4px;
        margin-top: -4px
    }

    .gg-search::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border-radius: 3px;
        width: 2px;
        height: 8px;
        background: currentColor;
        transform: rotate(-45deg);
        top: 10px;
        left: 12px
    }
}

@media screen {
    .gg-trash {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 10px;
        height: 12px;
        border: 2px solid transparent;
        box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        margin-top: 4px
    }

    .gg-trash::after, .gg-trash::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute
    }

    .gg-trash::after {
        background: currentColor;
        border-radius: 3px;
        width: 16px;
        height: 2px;
        top: -4px;
        left: -5px
    }

    .gg-trash::before {
        width: 10px;
        height: 4px;
        border: 2px solid;
        border-bottom: transparent;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        top: -7px;
        left: -2px
    }
}

@media screen {
    .gg-user {
        display: block;
        transform: scale(var(--ggs,1));
        box-sizing: border-box;
        width: 12px;
        height: 18px
    }

    .gg-user::after, .gg-user::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border: 2px solid
    }

    .gg-user::before {
        width: 8px;
        height: 8px;
        border-radius: 30px;
        top: 0;
        left: 2px
    }

    .gg-user::after {
        width: 12px;
        height: 9px;
        border-bottom: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        top: 9px
    }
}

@media screen {
    .gg-user-add {
        display: block;
        transform: scale(var(--ggs,1));
        box-sizing: border-box;
        width: 20px;
        height: 18px;
        background: linear-gradient( to left, currentColor 8px, transparent 0) no-repeat 14px 6px/6px 2px, linear-gradient( to left, currentColor 8px, transparent 0) no-repeat 16px 4px/2px 6px
    }

    .gg-user-add::after,.gg-user-add::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border: 2px solid
    }

    .gg-user-add::before {
        width: 8px;
        height: 8px;
        border-radius: 30px;
        top: 0;
        left: 2px
    }

    .gg-user-add::after {
        width: 12px;
        height: 9px;
        border-bottom: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        top: 9px
    }
}

@media screen {
    .gg-view-grid {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        border: 2px solid;
        border-radius: 3px;
        width: 20px;
        height: 14px
    }

    .gg-view-grid::after, .gg-view-grid::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 2px;
        height: 14px;
        top: -2px;
        left: 4px;
        background: currentColor;
        box-shadow: 6px 0 0
    }

    .gg-view-grid::before {
        width: 20px;
        height: 2px;
        left: -2px;
        top: 2px;
        box-shadow: 0 4px 0
    }
}
